.button {
  margin: 64px;
  width: 200px;
  height: 50px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  line-height: 50px;
}
.button:hover {
  color: darkcyan;
}
.icon_1 {
  width: 32px;
  height: 32px;
  fill: white;
  vertical-align: middle;
}
.button:hover > .icon_1 {
  fill: green;
}
