* {
  box-sizing: border-box;
}

.box {
  padding: 50px;
  border: 2px solid black;
}
.box1 {
  background-color:blue;
  margin: 50px;
}
.box2 {
  background-color: yellow
}
.box3 {
  background-color:green;
}
.box4 {
  background-color: pink;
}