body {
  background-color: #bdc3c7;
}
h1 {
  color: #9b59b6;
}
h2 {
  color: orange
}
li {
  color: blue;
}
p {
  background-color: yellow;
}
label > input {
  border: 3px solid red;
}
.hello {
  background-color: white;
}
#special {
  border: 2px solid blue;
}
body > div > p {
  font-size: 25px;
}
input[type*="text"] {
  background-color: gray;
}
body > div:nth-last-of-type(2) > p {
  background-color: yellow;
}
div:nth-last-of-type(2) p:nth-child(3) {
  border: 5px solid white;
}
body > div:nth-last-of-type(2) > p:nth-child(2) > em {
  font-size: 20px;
  color:white
} 