* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555555;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  text-align: center;
  background: linear-gradient(60deg, red, orange);
  color: white;
}
.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}
main {
  display: flex;
  flex-grow: 1;
}
.navigation {
  padding: 0.5em;
  width: 20%;
}
.section {
  padding: 0.5em;
  width: 60%;
  font-size: 1.25em;
}
.news {
  padding: 0.5em;
  width: 20%;
}
.units-list {
  line-height: 1.75em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.nav-list {
  padding: 0;
  list-style: none;
}
.nav-list-item {
  background-color: #808080;
  color: white;
  line-height: 2em;
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.nav-list-link {
  text-decoration: none;
  color: white;
}
