* {
  box-sizing: border-box;
}
.box {
  border: 3px solid;
  width: auto;
  height: auto;
  background-color:aqua;
  padding: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.box.box1 {
  margin-top: 10px;
}