* {
  box-sizing: border-box;
}
.box {
  display: inline-block;
  border: 3px solid;
  width: 1660px;
  height: auto;
  background-color:aqua;
  padding: 50px;
  margin: 0px 10px;
}
.box.box1 {
  margin-top: 10px;
}