* {
  box-sizing: border-box;
}
.header {
  display: flex;
  height: 40px;
  background-color: yellow;
  align-items: center;
}
.footer {
  display: flex;
  height: 40px;
  background-color: green;
}
.footer > span {
  margin: auto;
}
.navigation {
  margin: 0;
  display: flex;
  list-style-type: none;
  padding: 0;
}
.nav_item {
  margin-left: 16px;
}
.footer_text {
  margin: auto;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
  display: flex;
}
.board {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
}
.board > h2 {
  margin: auto;
}
.newsbar {
  flex-direction: column;
  display: flex;
  width: 200px;
  background-color: grey;
}
.newsbar > h2 {
  margin: 16px auto;
}
.news_li {
  margin: 0;
  padding: 0;
}
.news_li > li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: 16px;
  height: 40px;
}
.news_li > li > span {
  margin: auto 0;
}

.news_title {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
