* {
  box-sizing: border-box;
}
.rectangle {
  font-size: 24px;
  background-color: bisque;
  width: 500px;
  height: 200px;
  padding: 20px;
  border-width: 10px 20px;
  border-color: firebrick chartreuse burlywood aqua;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: dashed;
  border-left-style: dashed;
  margin: 50px 100px;
}