* {
  box-sizing: border-box;
}
.header {
  height: 50px;
  background-color: yellow;
  clear: both;
}
.sidebar {
  height: 500px;
  background-color: grey;
  width: 20%;
  float: right;
}
.content {
  height: 500px;
  background-color: pink;
  width: 80%;
  float: left;
}
.footer {
  background-color: green;
  height: 50px;
  clear: both;
}
